@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  font-family: "Lobster", cursive;
  font-size: 60pt;
  margin-left: 22px;
  text-align: center;
}

.image-circle {
  margin-left: 5px;
}

.screen {
  border-collapse: collapse;
  max-width: 80vmin;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100%;
}

button {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

.options {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-bottom: 2%;
}

.info {
  display: flex;
  align-items: center;
}

.buttonHome,
.buttonRestart {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonHome {
  background-color: #1fcca4;
  margin-right: 1%;
}

.buttonRestart {
  background-color: blue;
  margin-left: 1%;
}

.buttonHome:hover {
  background-color: green;
}

.buttonRestart:hover {
  background-color: darkblue;
}

.play-table {
  border-collapse: collapse;
}

.play-table td {
  width: 45px;
  height: 45px;
  border: 2px solid black;
}

:focus,
.play-table td:hover {
  background-color: lightgray;
}

.play-table button {
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

@keyframes gameAnimation {
  0% { opacity: 0; transform: scale(0.5); }
  50% { opacity: 0.5; transform: scale(1.2); }
  100% { opacity: 1; transform: scale(1); }
}


.board__field--cross {
  background-image: url("obrázky/cross.svg");
  background-size: cover;
  filter: invert();
  max-width: 75%;
  max-height: 75%;
  margin: 0 auto;
  display: block;
  animation: gameAnimation;
  animation-duration: 0.15s;
}

.board__field--circle {
  background-image: url("obrázky/circle.svg");
  background-size: cover;
  filter: invert();
  max-width: 75%;
  max-height: 75%;
  margin: 0 auto;
  display: block;
  animation: gameAnimation;
  animation-duration: 0.15s;

}

.visible {
  display: flex;
  animation: gameAnimation;
  animation-duration: 0.15s;
}

.invisible {
  display: none;
  animation: gameAnimation;
  animation-duration: 0.15s;
}
